*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* task-1 */
}
.grid-container{
    display:grid;
    color: #fff;
    height:100vh;
    gap: 10px;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(4,1fr);
    }
  .item{
    text-align: center;
        padding: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    
  .item-1{
   background: linear-gradient(75deg,rgb(192, 136, 172), #d23ca3 50%);
grid-column: 2/5;
grid-row: 1/3;
  }
p{
    color: black;
}
  .square-1{
   width: 20px;
   height: 20px;
   background-color: #fff;
  }
  .item-2{
   grid-column:3/5;
   grid-row:3/5;
   background: linear-gradient(75deg,rgb(192, 136, 172),#d23ca3 50%),rgb(192, 136, 172);
   }
   .square-2{
   width: 20px;
   height: 20px;
   background-color: #fff;
  }
  .item-3{
    background: linear-gradient(50deg, #6291e3 3%,#6e9ceb 10%,#5eebe4 50%);
    grid-column:5/7; 
    grid-row: 1/2;
  }
  .square-3{
   width: 20px;
   height: 20px;
   background-color: #fff;
  }
  .item-4{
   background: linear-gradient(50deg, #6291e3 3%,#6e9ceb 10%,#5eebe4 50%);
   grid-column: 5/7;
   grid-row: 2/3;
   }
   .square-4{
   width: 20px;
   height: 20px;
   background-color: #fff;
  }
  .item-5{
   background: linear-gradient(50deg,rgb(234, 234, 143), rgb(246, 123, 135) 50%);
   grid-column:1/2;
   grid-row: 1/2;
  }
  .square-5{
   width: 20px;
   height: 20px;
   background-color: #fff;
  }
  .item-6{
   background: linear-gradient(50deg,rgb(234, 234, 143), rgb(246, 123, 135) 50%);
     grid-row:2/3;
     grid-column: 1/2;
  }
  .square-6{
   width: 20px;
   height: 20px;
   background-color: #fff;
  }
  .item-7{
   background: linear-gradient(50deg,rgb(234, 234, 143), rgb(246, 123, 135) 50%);
    grid-row:3/4;
    grid-column: 1/2;
  }
  .square-7{
   width: 20px;
   height: 20px;
   background-color: #fff;

  }
  .item-8{
   background: linear-gradient(50deg,rgb(234, 234, 143), rgb(246, 123, 135) 50%);
     grid-row: 4/5;
     grid-column: 1/2;
  }
  .square-8{
   width: 20px;
   height: 20px;
   background-color: #fff;
  }
  .item-9{
   background: linear-gradient(50deg,rgb(114, 99, 147), #cacec9 50%);
   grid-row: 3/4;
   grid-column: 2/3;
  }
  .square-9{
   width: 20px;
   height: 20px;
   background-color: #fff;
  }
  .item-10{
   background: linear-gradient(50deg,rgb(114, 99, 147), #cacec9 50%);
   grid-column: 2/3;
   grid-row: 4/5;
  }
  .square-10{
   width: 20px;
   height: 20px;
   background-color: #fff;
  }
  .item-11{
   background: linear-gradient(50deg,rgb(95, 147, 96), #b6b2b2 50%);
   grid-row: 3/4;
   grid-column: 5/6;
  }
  .square-11{
   width: 20px;
   height: 20px;
   background-color: #fff;
  }
  .item-12{
   background: linear-gradient(50deg,rgb(95, 147, 96), #b6b2b2 50%);
    grid-row: 3/4;
    grid-column: 6/7;
  }
  .square-12{
   width: 20px;
   height: 20px;
   background-color: #fff;
  }
  .item-13{
   background: linear-gradient(50deg,rgb(95, 147, 96), #b6b2b2 50%);
   grid-row: 4/5;
   grid-column: 5/6;
   }
   .square-13{
   width: 20px;
   height: 20px;
   background-color: #fff;
  }
  .item-14{
   background: linear-gradient(50deg,rgb(95, 147, 96), #b6b2b2 50%);
   grid-row: 4/5;
   grid-column: 6/7;
  }
  .square-14{
   width: 20px;
   height: 20px;
   background-color: #fff;
  }
  @media screen and (max-width :550px) {
    .grid-container{
       width:100%;
       grid-template-columns:repeat(1,1fr);
    }
    .item{
       grid-row: auto;
       grid-column: auto;
    }    
}
@media screen and (min-width : 650px) and (max-width :900px) {
   .grid-container{
       width: 100%;
       grid-template-columns:repeat(2,2fr);
   }
   .item{
       grid-row: auto;
       grid-column: auto;
    }   
}
   /* task-2 */
   .grid-container2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    height: 100vh;
}
.task-1{
    background-color: rgb(41, 192, 41);
    grid-row: 1/4;
}
.task-2{
    background-color: rgb(41, 192, 41);
    grid-column: 2/4;
}
.task-3{
    background-color: red;
}
.task-4{
    background-color: orange;
}
.task-5{
    background-color: red;
}
.task-6{
    background-color: rgb(41, 192, 41);
    grid-row: 2/4;
    grid-column: 4/5;
}
.task-7{
    background-color: red;
}
.task-8{
    background-color: orange;
}
@media screen and (min-width : 640px) and (max-width : 900px){
    .grid-container2{
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
        height: 100vh;
    } 
    .task{
        grid-row: auto;
    }
}
@media screen and (max-width : 550px){
    .grid-container2{
        grid-template-columns: repeat(1,1fr)
    } 
    .task{
        grid-row: auto;
        grid-column: auto;
    }
}
/* task-3 */
.grid-container3{
    background-color: #4f5050;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    text-align: center;
    height: 100vh;
    font-size: 2rem;
    color: white;
    
}
.head{
    display: flex;
    align-items:center ;
    justify-content: center;
}
.header{
    background: linear-gradient(to right,#8a2be2,#6a5acd);
    grid-column: 1/4;
    border: 5px solid black;
    
}
.sidebar{
    background: linear-gradient(to bottom, #20c997,#17a2b8);
    border: 2px solid;
    grid-row: 2/4;
    border: 5px solid black;
}
.content-1{
    background: linear-gradient(to right,#007bff,#00bfff);
    border: 2px solid;
    grid-column: 2/4;
    border: 5px solid black;
}
.content-2{
    background: linear-gradient(to right,#1e90ff,#87cefa);
    border: 2px solid;
    border: 5px solid black;
}
.content-3{
    background: linear-gradient(to right, #6a5acd,#8a2be2);
    border: 2px solid;
    border: 5px solid black;
}
.footer{
    background: linear-gradient(to right,#8a2be2,#6a5acd);
    border: 2px solid;
    grid-column: 1/4;
    border: 5px solid black;
}
@media screen and (min-width : 550px) and (max-width : 900px){
    .grid-container3{
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        height: 100vh;
    } 
    .head{
        grid-row: auto;
    }
}
@media screen and (max-width : 550px){
    .grid-container3{
        grid-template-columns: repeat(1,1fr)
    } 
    .head{
        grid-row: auto;
        grid-column: auto;
    }
}